%main.about
  .row
    .col.s6.m8.l12
      %div.container.black-text
        %br
        %h2.titles.center About Topline
        %hr.black
        %br
        %div.container 
          %p
            Our approach is hands on, face to face and down to earth. We pride ourselves on being partners with our clients and making your vision, “our” vision. As partners, we want to work together to make every detail of the vision a reality. We understand how important the project is to you, and it holds equal importance with us.
          %br
          %p
            Top Line delivers quality in every project, in every phase, in every detail. We don’t just stake our reputation on it, it’s our character. Getting it right the first time, every time is our commitment to quality. The same is expected of our subcontractors.
          %br   
          %p
            Meeting deadlines is important to us. Not only does that give you the quality you expect and deserve, it gets your project completed and on line as soon as possible. We at Top Line understand that during a renovation there is no revenue being generated on that portion of your business. Making sure to complete the project on schedule is a priority.
          %br  
          %p   
            We will do our best to be as unobtrusive as possible during the renovation to not cause any disturbance to your guests. Top Line employees and subcontractors will be respectful, courteous and friendly at all times to your guests.
          %br
      .parallax-container
        .parallax
          %img{:src => "greatfalls.jpg"}
      / .parallax-container.center-align.black-text
      %br
      %h2.titles.center  Qualifications/Certifications
      %hr.black
      %div.container
        %p.black-text 
          Under the leadership of Top Line’s owner and Master Contractor, Travis Rohrer, Top Line has achieved: LEED (Leadership in Energy and Environmental Design)
        %br
        %ul
          %li{:type => "disc"}   
            Certified Built Green Builder.
          %br
          %li{:type => "disc"}   
            Green Globes Professional: GGP January 2015
          %br
          %li{:type => "disc"}   
            US Green Building Council Inc.:  LEED Green Associate, August 2012.
          %br 
          %li{:type => "disc"}    
            University of Washington: Facility Management Certificate, July 2012.
          %br
          %li{:type => "disc"}      
            Northwest Energy Efficiency Council (NEEC): Building Operator Certification (BOC)
          %br Level I, 2011.
          %li{:type => "disc"}    
            NaSBAP: Certified Sustainable Building Advisor (CSBA), 2008.
          %br
          %li{:type => "disc"}    
            NaSBAP: National Sustainable Building Advisor Program, Completed 2008.
          %br
          %li{:type => "disc"}   
            Environmental Protection Agency (EPA): Energy Star Performance Tester, 2004.
          %br
          %li{:type => "disc"}   
            Environmental Protection Agency (EPA): Energy Star Verifier, 2004.
          %br 
          %li{:type => "disc"}  
            National Association of Home Builders (NAHB): Certified Graduate Builder (CGB), 2003. 
      %br
      %br
      %p.black-text.center
        We care about our environment and yours and are proud to have green builder standing.

      .parallax-container
        .parallax
          %img{:src => "support.jpg"}
      %br
      %h2.titles.center  Accountability
      %hr.black
      %br
      .div.container
        %p.black-text 
          At Top Line we don’t have problems, only opportunities. Should a project in some way have a glitch, either from internal or external influences, Top Line superintendent and  crew will do an analysis of the project; where is got off, and how best to bring it back around and use the opportunity to learn from and resolve the problem quickly. A recovery plan will be made and all hands will work diligently to implement the solution.
      .parallax-container
        .parallax
          %img{:src => "pipes.jpg"}
      %br
      %h2.titles.center  Safety
      %hr.black
      %br
      %div.container
        %p.black-text Running a safe and clean construction site is of the utmost importance at Topline. Our partners and employees safety means everything to us and we do our best to ensure that all rules and regulations are met by everyone at all times so that we may meet our objectives in a safe environment.


  %footer.center.page-footer.orange.darken-4.z-depth-4
    Copyright © 2017 · All Rights Reserved · Topline Builders Inc.
  / .background_img{position:"relative", display:"inline-block"} 



