.about
  .row
    .col.s6.m8.l12
      .container.center-align.black-text
        %br
        %br
        %br
        %h2 About Topline
        %hr.black
        %br
        %p
          Top Line Hospitality is a general contracting company, established in 1997, specializing in hospitality, condominium/time shares and assisted living complex renovations, both interiors and exteriors. However we are not limited to just these areas of construction. We are open to whatever your needs might be. Making sure we deliver what our client envisions is our number one priority. Building a solid working relationship with our clients is essential to the fulfillment of our commitment to every job. We are not satisfied unless you are.
        %p
          Our approach is hands on, face to face and down to earth. We pride ourselves on being partners with our clients and making your vision, “our” vision. As partners, we want to work together to make every detail of the vision a reality. We understand how important the project is to you, and it holds equal importance with us.
        %p
          Top Line delivers quality in every project, in every phase, in every detail. We don’t just stake our reputation on it, it’s our character. Getting it right the first time, every time is our commitment to quality. The same is expected of our subcontractors. 
        %p
          Meeting deadlines is important to us. Not only does that give you the quality you expect and deserve, it gets your project completed and on line as soon as possible. We at Top Line understand that during a renovation there is no revenue being generated on that portion of your business. Making sure to complete the project on schedule is a priority.
        %p   
          We will do our best to be as unobtrusive as possible during the renovation to not cause any disturbance to your guests. Top Line employees and subcontractors will be respectful, courteous and friendly at all times to your guests.

