%main.contact.custom-background
  .row
    .col.s6.m8.l12
      %br
      %br
      %div.center
        %h2.center.titles Contact Us
      %div.center
        %hr.black
        %br
          %strong
            %a.contact Travis Rohrer, President
        %i.icons.material-icons email
        %span
          %a.hoverable.icons{:href => "mailto:travis@topline-hospitality.com"}President travis@topline-hospitality.com
        %br
        %hr.black
        %br
          %strong
            %a.contact Mitch Mittelstaedt, Superintendent
        %i.icons.material-icons email
        %span
          %a.hoverable.icons{:href => "mailto:travis@topline-hospitality.com"} mitch@topline-hospitality.com
        %br
        %hr.black
        %br
          %strong
            %a.contact Cheri Lambert, Secretary/Treasurer
        %i.icons.material-icons email
        %span
          %a.hoverable.icons{:href => "mailto:cheri@topline-hospitality.com"} cheri@topline-hospitality.com
        %br
        %hr
        %br
        %p *If default email client does not open copy and paste emails provided

%footer.center.page-footer.orange.darken-4.z-depth-4
  Copyright © 2017 · All Rights Reserved · Topline Builders Inc.
 
      
