%main.home
  .row
    .col.s6.m8.l12
      %br
      %br
      / %div.center
      /   %img.circle-image.circle.responsive-img{:src => "TL_mark_for_web.png"}
      %div.center
        %h2.center.titles Topline Hospitality
      %hr.black
      %br
        %p.black-text.container
          Top Line Hospitality is a general contracting company, established in 1997, specializing in hospitality, condominium/time shares and assisted living complex renovations, both interiors and exteriors. However we are not limited to just these areas of construction. We are open to whatever your needs might be. Making sure we deliver what our client envisions is our number one priority. Building a solid working relationship with our clients is essential to the fulfillment of our commitment to every job. We are not satisfied unless you are.

%footer.center.page-footer.orange.darken-4.z-depth-4
  Copyright © 2017 · All Rights Reserved · Topline Builders Inc.
.background_img 